
.nav{
	background: #000000;
	width: 100%;
	text-align: left;
}

.menu{
	color: #ffffff;
	margin-bottom: 0px;
	margin-top:10px;
	font-family: 'Raleway';
	font-size: 15px;
}
.men{
	color: #ffffff;
}
.men:hover{
	text-decoration: none;
}
.men:active{
	text-decoration: none;
}
.men:link{
	text-decoration: none;

}
.men:visited{
	text-decoration: none;
}
 .todo{
      font-family: Courier New;
      margin: 50px 50px;
    
    }
.imga {
	margin-top:  30px;
	padding-top: 5px;
	border: 2px solid #93e6ff;
	height:300px;
	width: 200px;
}
  textarea {
	resize: none;
}
.aba {
	padding:30px;
	height:100px;
	width: 200px;
}
@media screen and (min-width: 700px) {
.menu {
	color: #ffffff;
	margin-bottom: 0px;
	margin-top:10px;
	font-family: 'Raleway';
	font-size: 25px;

}
